
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}


body{
 background-color: #e0eeff;


}

h1,
h2,
h3 {
  font-family: "Anton", sans-serif;
  color: #3b64e2;
}


.divider h1{
  font-size: 4rem;
    line-height: 98%;
    text-align: left;
    -webkit-hyphens: none;
        -moz-hyphens:    none;
        -ms-hyphens:     none;
        hyphens:         none;

}

.divider p{
  font-size: 1.2rem;
}
.divider{
        display: flex;

        max-width: 90%;
      	margin-left: auto;
      	margin-right: auto;

      	text-align: justify;
      }
section{
width: 100vw;
height: 100vh;
}

.center-mob{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
margin: 0 2rem;
padding: 2rem;



}


.kleiner video{
  max-width: 30vw;
}

.enters{
  display: block;
}

.homepage-kop{width: 100vw;
  flex-direction: column;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-foto{
display: flex;
flex-direction: column;



width: 100%;
  height: 90%;
background:  url("../images-nieuw/jadenoodless.jpg");

  background-position: top;
  background-size: cover;
  margin-bottom: 60px;

}


.contact-foto{

  display: flex;
  flex-direction: column;



  width: 70%;
    height: 90%;
  background:  url("../images-nieuw/koffie.jpg");

    background-position: top;
    background-size: cover;
    margin-bottom: 60px;
}


.nieuwsbrief-uitleg{

  padding: .5rem 7rem .5rem 7rem;
    font-size: 2rem;
  margin: .5rem 2rem;



  }

@media (max-device-width:900px) {
  .divider{

      flex-direction: column;

      max-width: 100%;
      margin-left: auto;
      margin-right: auto;


  }


}

@media (max-device-width:1000px) {
  .divider h1{
    font-size: 2.5rem;
    line-height: normal;
  }


  }
